/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* LAYOUT */

.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 2rem;
}

/* MAIN */
.row {
    display: flex;
    gap: 2rem;
}

button {
    border-radius: 10px;
    padding: 0.8rem 1rem;
    color: white;
    margin-bottom: 4rem;
    cursor: pointer;
    border: none;
}

.blue-button {
    background-color: #0d6efd;
}

.yellow-button {
    background-color: #ffc107;
}

button:hover {
    background-color: #094fb9;
}

.card {
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

